*.~lock*
*.dll
*.swp
*.zip
/.vscode
/*.sh
/*.user
/*.patch
/TODO

/assets/art/export/
/assets/art/4k/
/assets/source/*.bin
/bin/
/build/
/deployment/*.exe
/deployment/*-src
/deployment/*.tar.gz
/deployment/out
/src/tags
/src/version.h
/working/stats/*.txt
/working/choria*
/working/textures/*
/working/scripts/*
/working/data/*
