*.dll
*.swp
*.~lock*
*.zip
/.vscode
/*.sh
/CMakeLists.txt.user
/bin/
/build/
/assets/art/export/
/assets/art/4k/
/src/tags
/src/version.h
/working/stats/*.txt
/working/choria*
/deployment/*.exe
/deployment/*-src
/deployment/*.tar.gz
/deployment/out
/TODO
