[Desktop Entry]
Name=choria
Comment=Finally, an MMORPG that's all about grinding and doing chores.
Exec=choria
Icon=choria
Terminal=false
Type=Application
Categories=Game;RolePlaying;
StartupNotify=false
