body {
	font-size: 14px;
	font-family: Arial;
	color: #CCC;
	background-color: #111;
}

input, button, select {
	background-color: #111;
	color: #CCC;
	border: solid 1px #555;
	padding: 4px;
}

a {
	color: #784;
}

a:hover {
	color: #654;
}

td {
	padding-right: 10px;
}

tr:hover {
	background-color: #151515;
}

.main {
	margin-top: 20px;
}

.header {
	font-weight: bold;
}

.selectheader {
	font-weight: bold;
	margin-bottom: 2px;
}

.changed {
	color: #AA0000;
	font-weight: bold;
	margin-bottom: 15px;
}

.regularform label {
	font-weight: bold;
}

.regularform input[type="text"], .regularform input[type="radio"], .regularform textarea, .regularform select {
	display: block;
	margin-top: 2px;
	margin-bottom: 10px;
	width: 30ex;
}

.container {
	max-width: initial;
	width: 100%;
	padding: 20px;
}

.nav {
	background: #1F1F1F;
	height: 35px;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 100%;
	width: initial;
}

.nav ul>li {
	display: inline;
	float: left;
	height: 100%;
	margin: 0;
}

.nav ul>li>a {
	display: block;
	color: #FFF;
	text-decoration: none;
	padding: 0px 12px;
	height: 100%;
	line-height: 35px;
}

.nav ul>li:hover {
	background: #333;
}

label {
	display: inline-block;
	font-weight: initial;
	vertical-align: middle;
	margin-bottom: 0;
}

label input {
	margin-bottom: 2px;
	vertical-align: middle;
}

img.full {
    max-width: 100%;
    height: auto;
}

img.thumb {
    max-width: 150px;
    height: auto;
}

form {
	margin-bottom: 0px;
}

.handsontable td {
	background-color: #141414;
}

.handsontable th {
	color: #FFF;
	font-weight: bold;
	background-color: #222;
}

.handsontable th {
}
