body {
	font-size: 14px;
	font-family: Arial;
	color: #CCC;
	background-color: #111;
}

input, button, select {
	background-color: #111;
	color: #CCC;
	border: solid 1px #555;
	padding: 4px;
}

input:disabled {
	color: #555;
	background-color: #040404;
	border: solid 1px #222;
}

a {
	color: #784;
}

a:hover {
	color: #654;
}

.changed {
	color: #AA0000;
	font-weight: bold;
	margin-bottom: 15px;
}

.container {
	margin-bottom: 10px;
}

.buttons {
	padding: 15px;
	clear: both;
}

#message {
	color: #6D91B9;
	margin-left: 10px;
}

.nav {
	background: #1F1F1F;
	height: 35px;
}

.nav.small {
	height: 25px;
}

.nav ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	height: 100%;
	width: initial;
}

.nav ul>li {
	display: inline;
	float: left;
	height: 100%;
	background: #1F1F1F;
}

.nav ul>li>a {
	display: block;
	color: #FFF;
	text-decoration: none;
	padding: 0px 8px;
	height: 100%;
	line-height: 35px;
}

.nav.small ul>li>a {
	color: #AAA;
	line-height: 25px;
}

.nav ul>li:hover {
	background: #333;
}

.handsontable td {
	background-color: #141414;
	border-right: 1px solid #333;
	border-bottom: 1px solid #333;
}

.handsontable th {
	color: #FFF;
	font-weight: bold;
	background-color: #222;
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
}

.handsontable tr:first-child th, .handsontable tr:first-child td {
	border-top: 1px solid #666;
}

.handsontable th:first-child, .handsontable td:first-of-type, .handsontable .htNoFrame+th, .handsontable .htNoFrame+td {
    border-left: 1px solid #666;
}

.handsontable th:last-child {
	border-right: 1px solid #666;
	border-bottom: 1px solid #666;
}

.htContextMenu table tbody tr td {
	background-color: #111;
}

.htContextMenu table.htCore {
	border: 1px solid #888;
	border-bottom-width: 1px;
	border-right-width: 1px;
}

.htContextMenu table tbody tr td.htSeparator {
	border-top: 1px solid #666;
	height: 0;
	padding: 0;
}

.htContextMenu table tbody tr td.current {
	background-color: #333;
}

.handsontable.listbox tr td.current, .handsontable.listbox tr:hover td {
	background: #333;
}

td.empty {
	border: none;
	background: #111
}

.handsontable tbody th.ht__highlight, .handsontable thead th.ht__highlight {
	background: #222222;
	color: white;
}
