body {
	font-size: 0.9em;
	font-family: Arial
}

td {
	padding-right: 10px;
}

.main {
	margin-top: 20px;
}

.header {
	font-weight: bold;
}

.selectheader {
	font-weight: bold;
	margin-bottom: 2px;
}

.changed {
	color: #FF0000;
	font-weight: bold;
	margin-bottom: 15px;
}
